{
  "openapi": "3.1.0",
  "info": {
    "title": "campos.works Agent API",
    "description": "Callable tools for Alexander Campos — independent AI infrastructure engineer. Book consultations, retrieve capability profile. All endpoints are public (no auth required).",
    "version": "1.0.0",
    "contact": {
      "name": "Alexander Campos",
      "email": "alex@campos.works",
      "url": "https://campos.works"
    }
  },
  "servers": [
    {
      "url": "https://campos.works",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/agent/profile": {
      "get": {
        "operationId": "getAgentProfile",
        "summary": "Get full capability manifest",
        "description": "Returns structured data about services offered, projects built, technical capabilities, availability, and all machine-readable discovery endpoints.",
        "responses": {
          "200": {
            "description": "Capability manifest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentProfile"
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/book": {
      "post": {
        "operationId": "bookConsultation",
        "summary": "Submit a consultation booking request",
        "description": "Submit a request for a free 30-minute consultation. Name and email are required. Returns a confirmation message and direct booking URL.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BookingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Booking confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentProfile": {
        "type": "object",
        "properties": {
          "schema_version": { "type": "string" },
          "person": {
            "type": "object",
            "properties": {
              "name": { "type": "string" },
              "title": { "type": "string" },
              "description": { "type": "string" },
              "email": { "type": "string" },
              "website": { "type": "string" }
            }
          },
          "services": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "description": { "type": "string" },
                "category": { "type": "string" },
                "booking_url": { "type": "string" }
              }
            }
          },
          "projects": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "description": { "type": "string" },
                "url": { "type": "string" }
              }
            }
          },
          "capabilities": {
            "type": "array",
            "items": { "type": "string" }
          },
          "actions": { "type": "object" },
          "discovery": { "type": "object" },
          "availability": { "type": "string" },
          "last_updated": { "type": "string", "format": "date-time" }
        }
      },
      "BookingRequest": {
        "type": "object",
        "required": ["name", "email"],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 200,
            "description": "Full name of the person or organization requesting the consultation"
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 200,
            "description": "Contact email address"
          },
          "service": {
            "type": "string",
            "maxLength": 200,
            "description": "Service category of interest (e.g. 'AI Cost Optimization', 'Claude Code & MCP Setup')"
          },
          "message": {
            "type": "string",
            "maxLength": 2000,
            "description": "Optional message describing the project or need"
          }
        }
      },
      "BookingResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["received"],
            "description": "Confirmation that the request was received"
          },
          "message": {
            "type": "string",
            "description": "Human-readable confirmation message"
          },
          "booking_url": {
            "type": "string",
            "format": "uri",
            "description": "Direct URL to schedule the 30-minute call"
          }
        }
      }
    }
  }
}
